.container {
  display: flex;
  /* position: relative; */
  width: 96%;
  padding: 14px 8px;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  flex-direction: row;
}

.input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #816ed6;
  outline: none;
  width: 80%;
  background: transparent;
  color: black;
}

.input::placeholder {
  color: black;
}

.submit-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background:#816ed6;
  color: #fff;
  text-transform: capitalize;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.chatroom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: #d4cd6e;

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}
.chatroom-row:nth-child(4n + 1) {
  background: #6ed581
}

.chatroom-row:nth-child(4n + 2) {
  background: #d5816e
}

.chatroom-row:nth-child(4n + 3) {
  background:#ce6ed5
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.join-icon {
  margin-right: 5px;
  color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}